<head>
	<title>EpiBlog</title>
	<link href='/less/blog-reset.css' rel='stylesheet' type='text/css'/>
	<link href='/less/blog-main.css' rel='stylesheet' type='text/css'/>
</head>
<body>
	<div class='navbar'>
		<div class='nav-title'>
			<strong>Epiblog</strong>
		</div>
		<div class='nav-menu'>
			<ul>
				<li><a href='#'>Blog</a></li>
				<li><a href='#'>Apps</a></li>
				<li><a href='#'>Music</a></li>
				<li><a href='#'>Contact</a></li>
			</ul>
		</div>
	</div>
	<div>
		{{{yield}}}
	</div>
</body>
