/*
	global variables for layout
*/

//colors
@black:		#000000;
@white:		#FFFFFF;
@dankpurp:	#280E31;
@purp:		#7A48C1;
@blue:		#448CD8;
@green:		#B8EC1D;
@silver:	#717171;
@lightgray:	#F2F2F2;
@darkgray:	#666666;

//fonts
@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 400;
	src: local('Cinzel-Regular'), url(http://themes.googleusercontent.com/static/fonts/cinzel/v2/mLL0ZqnXRx3m16FnBy9gcg.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Balthazar';
  font-style: normal;
  font-weight: 400;
  src: local('Balthazar Regular'), local('Balthazar-Regular'), url(http://themes.googleusercontent.com/static/fonts/balthazar/v3/E9s_OrHc1N8XyvXr2y-jyrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

//font-sizes
@lg-text:3rem;
@md-text:1.3rem;
